{% from "components/contact.njk" import contact %} {% macro modal(textbtn =
"Open modal") %}
<!-- You can open the modal using ID.showModal() method -->
<button class="btn btn-sm" onclick="my_modal_4.showModal()">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
    width="20px"
    height="20px"
    class="inline-block h-4 w-4 opacity-60"
    stroke-width="2"
  >
    <path d="M3 9l9 6l9 -6l-9 -6l-9 6"></path>
    <path d="M21 9v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10"></path>
    <path d="M3 19l6 -6"></path>
    <path d="M15 13l6 6"></path>
  </svg>
</button>
<dialog id="my_modal_4" class="modal">
  <section class="modal-box w-11/12 max-w-5xl">
    {{ contact() }}
    <div class="modal-action absolute top-0 right-5">
      <form method="dialog">
        <!-- if there is a button, it will close the modal -->
        <button class="btn">X</button>
      </form>
    </div>
  </section>
</dialog>
{% endmacro %}
