<nav class="navbar justify-between bg-base-100">
  <div class="navbar-start w-auto">
    <a href="/" class="btn btn-ghost text-xl">daisyUI</a>
  </div>
  <div class="navbar-end w-max">
    {% include "../ui/listMenu.njk" %}
  </div>
</nav>
